XML/XMLSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="events">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="event">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="event-type" type="xs:string" />
              <xs:element name="event-name" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="event-description" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="2" name="event-image" type="xs:string" />
              <xs:element name="company" type="xs:string" />
              <xs:element minOccurs="1" maxOccurs="unbounded" name="performance">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="datetime" type="xs:string" />
                    <xs:element name="location">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="location-type" type="xs:string" />
                          <xs:element name="location-name" type="xs:string" />
                          <xs:element name="location-address" type="xs:string" />
                          <xs:element minOccurs="1" name="location-contacts">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="contact-type" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="location-image" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="price">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:unsignedInt">
                            <xs:attribute name="currency" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="performer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="performer-type" type="xs:string" />
                    <xs:element name="performer-name" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>